html{
    overflow: hidden;
}
body{
    background-color: rgb(15,29,78) !important;
    overflow: hidden;
}
.circle {
    position: absolute;
    left: 30px;
    top: 30px;
    background-color:rgba(255, 255, 255, 0);
    border:0.1vw solid red;    
    height:20vw;
    border-radius:50%;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    transform:translate3d(0%,0%,0);
    transition:transform 0.1s cubic-bezier(.02,1.23,.79,1.08);
    width:20vw;
    z-index: -1;
}
.nav-link{
    color: #fff;
    font-size: 1.5rem;
    font-family: 'Work Sans', sans-serif;
    font-weight: bold;
    -webkit-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    padding: .8rem 2.5rem;
    position: relative;
    border-bottom: .2rem solid transparent;
    /* text-shadow: 0 0 1rem rgba(255,110,196,.4);  IF PRESSED */
    border-bottom-width: 0.2rem;
    border-bottom-style: solid;
    border-bottom-color: transparent;
    text-decoration: none;
    padding-top:150px;
} 
.half-circle {
    height:inherit;
    width:inherit;
    border-radius: 0 0 90px 90px;
    background:transparent;
    border-color: #ec008c;
}
.nav {
    background-color: rgb(15,29,78) !important;
}

.nav-item{
    padding-right: 2rem;
}
.navbar-brand{
    font-weight: bold;

    color: #fff;
    padding-left: 2rem;
    font-size: 40px !important;
    padding: .8rem 2.5rem;
    padding-top:70px !important;
}